.jumbotron {
  padding-top: 2rem;
  background-color: #b4d4ff;
}

.tentang {
  padding-top: 2rem;
}

#about {
  background-color: #86b6f6;
}

#portfolio {
  background-color: #176b87;
}

#footer {
  background-color: #000;
}
